body {
  max-height: 100vh;
}

.logo {
  background-color: var(--theme);
  color: var(--text);
}

.panelDataMiddleBlock {
  margin: 30px 0px 25px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panelDataMiddleBlock p,
.formWrapper p {
  font-size: 1.2rem;
}

.formWrapper {
  filter: drop-shadow(1px 1px 16px var(--shadow));
  background-color: var(--white);
  padding: 26px 26px 38px;
  margin-bottom: 28px;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.group-forms {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 50px;
}

.group-forms .formWrapper {
  flex: 1;
  height: max-content;
}

.column-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.overviewCardsArea {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}

.overviewCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  min-width: 20%;
  padding: 20px 28px;
  cursor: pointer;
  box-shadow: inset 0px -10px 0px 0px var(--theme);
  transform: translateY(-10px);
  filter: drop-shadow(1px 1px 16px var(--shadow));
  background-color: var(--white);
  transition: all 0.3s ease-in-out;
}

.hover-overview-img {
  opacity: 0;
  display: none;
}

.overviewCard h1,
.overviewCard p {
  color: var(--theme);
}

.overviewCard img {
  height: 56px;
}

.overviewCard img,
.overviewCard p,
.overviewCard h1 {
  transition: all 0.4s ease-in-out;
}

.overviewCard:hover {
  box-shadow: inset 0px -140px 0px 0px var(--theme);
  flex-direction: row-reverse;
}

.overviewCard:hover h1,
.overviewCard:hover p {
  text-align: right;
}

.overviewCard:hover .hover-overview-img {
  display: block;
  opacity: 1;
}
.overviewCard:hover .default-overview-img {
  opacity: 0;
  display: none;
}

.overviewCard:hover h1,
.overviewCard:hover p {
  color: var(--white);
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.userCards {
  width: 290px;
  cursor: pointer;
}

.userCards:hover .userCardLogo {
  color: var(--text);
}

.userCardTop {
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 5px;
  background-color: var(--theme);
}

.userCardLogo {
  color: var(--text-big);
  font-size: 2rem;
}

.userCardMiddle {
  height: 160px;
  border: 5px solid var(--border);
  border-top-color: var(--theme);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardName {
  font-size: 1.4rem;
  color: var(--text-big);
}

.cardEmail {
  font-size: 0.9rem;
  color: var(--text-big);
}

.userCardBottom {
  background-color: var(--border);
  height: 65px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.cardBottomText {
  color: var(--text-big);
}

#memberNameSearch {
  margin-right: 10px;
}
