#signup {
  width: 400px;
}

#signup button {
  margin-bottom: 10px;
}

#recoverPasswordForm {
  width: 420px;
  padding: 52px 46px;
}

#recoverError {
  margin-bottom: 10px;
}

#login {
  width: 380px;
  padding: 45px 32px;
  gap: 22px;
}

.forms {
  display: none;
}
