.panelBody {
  display: flex;
  height: calc(100vh - 70px);
}

.panelSidebar {
  background-color: var(--theme);
  height: 100%;
  min-width: 250px;
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(1px 1px 16px var(--shadow-dark));
}

.side-tabs {
  color: var(--text) !important;
  height: 50px !important;
}

.side-tabs.active {
  color: var(--theme) !important;
  background-color: var(--white) !important;
}

.panelsTabsArea {
  height: 60px;
  background-color: var(--border);
  display: flex;
  width: max-content;
  margin-bottom: 50px;
}

.side-tabs {
  display: flex !important;
  justify-content: start !important;
  align-items: center !important;
  gap: 20px !important;
  padding-left: 45px !important;
}

.active-img {
  display: none;
}

.side-tabs.active .active-img {
  display: block;
}

.side-tabs.active .inactive-img {
  display: none;
}

.tabContent {
  padding: 24px 88px 24px 40px !important;
}

.panelTabsWrapper {
  flex: 1;
}

.panelTabsWrapper button {
  color: var(--theme);
  flex: 1;
  border: none !important;
  width: 14rem;
}

.panelTabsWrapper button:hover {
  color: var(--theme) !important;
}

.inputs {
  width: auto;
}

.forms {
  width: 100%;
}

.findBookBlock {
  margin-bottom: 20px;
}

.themeBtn.ml {
  margin-left: 10px;
}
