.panelBody {
  display: flex;
  height: calc(100vh - 70px);
}

.panelSidebar {
  background-color: var(--theme);
  height: 100%;
  min-width: 250px;
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-tabs {
  color: var(--text) !important;
  height: 50px !important;
}

.side-tabs.active {
  color: var(--theme) !important;
  background-color: var(--white) !important;
}

.panelsTabsArea {
  height: 60px;
  background-color: var(--border);
  width: 40%;
  display: flex;
}

.tabContent {
  padding: 24px 88px 24px 40px !important;
}

.panelTabsWrapper {
  flex: 1;
}

.panelTabsWrapper button {
  color: var(--theme);
  flex: 1;
  border: none !important;
}

.inputs {
  width: auto;
}

.forms {
  width: 100%;
}

.findBookBlock {
  margin-bottom: 20px;
}

.themeBtn.ml {
  margin-left: 10px;
}
